# Django settings
DEBUG=True
SECRET_KEY='django_my_secret_key-+y4v*8s%t#9g)fxv5ltz7s**o%r4!wts7ap$h*%y8!5@x@!v(5'
ADMIN_EMAIL=django_app@django.com

# Whether to install dev dependencies (true/false)
INSTALL_DEV=true

# PostgreSQL
POSTGRES_HOST=r_taaw_postgres_db
POSTGRES_PORT=5432
POSTGRES_DB=r_taaw_backend
POSTGRES_USER=r_taaw_backend
POSTGRES_PASSWORD=secret_password

# Gunicorn
GUNICORN_BIND=0.0.0.0:8000
GUNICORN_MODULE=r_taaw_backend.wsgi
GUNICORN_WORKERS=3
GUNICORN_THREADS=1
GUNICORN_TIMEOUT=120
GUNICORN_RELOAD=True
GUNICORN_ACCESS_LOGFILE=/tmp/logs/gunicorn_access.log
GUNICORN_ERROR_LOGFILE=/tmp/logs/gunicorn_error.log
GUNICORN_LOGLEVEL=info

# CORS settings
CORS_ALLOWED='http://localhost:39291,http://127.0.0.1:34451'
